{% extends "layout.html" %}

{% block content %}

<div class="body z-[100] px-5">
    {% if announcement %}
    <div class="relative ml-auto mr-auto max-w-[75rem] 2xl:max-w-[94rem] overflow-hidden mx-auto mt-8">
        <div class="w-full announcement-bg border py-5 px-8 flex justify-center hover:announcement-bg-hover hover:cursor-pointer duration-200 rounded-lg">
            <div class="flex flex-row gap-3 items-center">
                <div class="flex rounded-full h-[26px] w-fit space-x-1 px-3 py-0.5 text-sm items-center justify-between gap-2 border text-white pill-bg-announcement">
                    <div class="flex flex-row flex-1 gap-2 items-center justify-center text-sm main-header">
                        Announcement
                        <div class="relative flex h-2 w-2">
                                <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-white opacity-75">

                                </span>
                            <span class="relative inline-flex rounded-full h-2 w-2 bg-white">

                                </span>
                        </div>
                    </div>
                </div>

                <p class="text-white text-base font-medium">{{announcement}}</p>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="relative ml-auto mr-auto max-w-[75rem] 2xl:max-w-[94rem] overflow-hidden mx-auto grid sm:grid-cols-1 lg:grid-cols-12 gap-5 mt-8">
        <div class="relative col-span-6 lg:col-span-3">
            <div class="background-color border border-main p-5 rounded-lg flex flex-col">
                <div class="flex flex-row gap-2 items-center">
                    {% if basket.username %}
                    <img class="w-10 h-10" src="https://crafatar.com/renders/head/{{ basket.uuid }}"/>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class=" w-6 h-6">
                        <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
                    </svg>
                    {% endif %}
                    <span class="text-white text-xl main-header">
                    {% if basket.username %}
                    Welcome, {{ basket.ign }}
                    {% else %}
                    Login
                    {% endif %}
                </span>
                </div>
                <div class="h-1"></div>
                <p class="text-lg opacity-80">
                    Start Shopping!
                </p>
                <div class="h-4"></div>
                {% if basket.username %}
                <a href="/checkout/logout" class="w-full duration-100 text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-semibold rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Logout</a>
                <!--<img src="https://mc-heads.net/body/{{ basket.ign }}/right">
                <div class="cyvers-icon"><img src="https://mc-heads.net/body/{{ basket.ign }}/right"></div>
                <div class="logged">
                    <div id="player-name">Welcome, {{ basket.ign }}</div>
                    <div class="cyvers-button">
                        <a href="/checkout/logout" class="login-button out">{{ __("Logout") }}</a>
                        <a href="/checkout/basket" class="basket-button"><i class="mdi mdi-cart"></i></a>
                    </div>
                </div>-->
                {% else %}
                <a href="/login" class="w-full text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-semibold rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Login!</a>
                {% endif %}
            </div>
        </div>
        <div class="col-span-6 flex flex-col gap-5">
            <div class="h-full py-4 px-8 flex flex-col gap-5 rounded-lg text-center w-full lg:text-left background-color border border-main">
                <p class="text-5xl main-header text-center text-white lg:text-left mt-4">
                    {{store.name}}
                </p>
                <p class="text-xl ck-content text-white">
                    {{ index.description|raw }}
                </p>
            </div>
        </div>
        <div class="flex flex-col gap-5 col-span-6 lg:col-span-3">
            {{ modules|raw }}
        </div>
    </div>
</div>
{% endblock %}
