{% extends "layout.html" %}

{% block content %}
    <div class="body">
        <div class="col-md-9">
            {% if announcement %}
                <div class="ads">
                    <div class="announce-text"><i class="mdi mdi-comment-alert-outline"></i>{{announcement}}</div>
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="basket cart">
                        {{ __("Welcome") }}
                    </div>
                    <div class="panel-body">
                        <p>
                            {{ index.description|raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="login">
                {% if basket.username %}
                    <div class="cyvers-icon"><img src="https://minotar.net/cube/{{ basket.ign }}/40.png"></div>
                    <div class="logged">
                        <div id="player-name">Welcome, {{ basket.ign }}</div>
                        <div class="cyvers-button">
                            <a href="/checkout/logout" class="login-button out">{{ __("Logout") }}</a>
                            <a href="/checkout/basket" class="basket-button"><i class="mdi mdi-cart"></i></a>
                        </div>
                    </div>
                {% else %}
                    <a href="/login" class="login-button">{{ __("Login") }}</a>
                {% endif %}
            </div>
            {{ modules|raw }}
        </div>
    </div>
{% endblock %}
