<div class="md:w-[20rem] md:min-w-[20rem] md:max-w-[20rem] hide md:show relative flex-shrink-0">
	{% if basket.username %}
	<div class="flex flex-col gap-5">
		<div class="background-color border border-main p-5 rounded-lg flex flex-col">
			<div class="flex flex-row gap-2 items-center">
				<img class="w-10 h-10" src="https://crafatar.com/renders/head/{{ basket.uuid }}"/>
				<span class="text-white text-xl main-header">
    	                  Welcome, {{ basket.ign }}
    	              </span>
			</div>
			<div class="h-1"></div>
			<button type="button" class="background-color border border-main rounded-lg p-2 dropdown flex flex-row gap-2 justify-center items-center" onclick="toggleDropdown('currency')">
				{{ basket.currency }}
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
				</svg>
				<ul class="dropdownMenu" data-toggle="currency">
					{% for currency in store.currencies %}
					{% if currency.code in [store.currency, "AUD", "BRL", "CAD", "DKK", "EUR", "NOK", "NZD", "GBP", "SEK", "USD", "PLN"] %}
					<li {% if basket.currency == currency.code %}class="active"{% endif %}>
						<a href="?currency={{ currency.code }}">{{ currency.code }}</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</button>
			<div class="h-4"></div>
			<a href="/checkout/logout" class="w-full duration-100 text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-semibold rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Logout</a>
		</div>
		<div class="background-color border border-main p-5 rounded-lg flex flex-col">
			<div class="flex-row flex gap-2">
				<div class="font-semibold text-base leading-6">Your Cart</div>
				<div class="rounded-full px-3 text-xs font-semibold leading-6 bg-black/20">
					<p class="text-white mix-blend-difference">{{ basket.packages|length }}</p>
				</div>
			</div>
			<div class="h-5"></div>
			{% if basket.packages|length > 0 %}
			<div class="flex flex-col gap-4 overflow-y-auto max-h-[13rem]">
				{% for package in basket.packages %}
				<div class="flex flex-row place-items-center">
					<div class="flex flex-row flex-1 max-w-[3.5rem] rounded-md relative aspect-square p-2 border border-main bg-black/20">
						<img class="object-contain" src="{{package.image.url}}" alt={""} />
					</div>
					<div class="ml-2 text-sm opacity-70 text-white mix-blend-difference flex flex-row gap-2">
						{{ package.name }}
					</div>
				</div>
				<div class="h-5"></div>
				{% endfor %}
			</div>
			<a href="/checkout" class="w-full text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-semibold rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Checkout</a>
			{% else %}
			<p>Your cart is empty</p>
			{% endif %}
		</div>
	</div>
	{% else %}
	<div class="background-color border border-main p-5 rounded-lg flex flex-col">
		<div class="flex flex-row gap-2 items-center">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class=" w-6 h-6">
				<path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
			</svg>
			<span class="text-white text-xl main-header">
                      Login
                  </span>
		</div>
		<div class="h-1"></div>
		<p class="text-lg opacity-80">
			Start Shopping!
		</p>
		<div class="h-4"></div>
		<a href="/login" class="w-full text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-semibold rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Login</a>
	</div>
	{% endif %}
</div>
